---
---

@import "{{ site.theme }}";

.main-content {
  max-width: 80%;
}

.project-table {
  background-color: rgb(252, 252, 252);
}

.long-description {
  min-width: 300px;
  max-height: 400px;
  overflow-y: scroll;
}
